<h5>
  Hi,<br>
  <%= @receiver.pp_username %>
</h5>
<p style="font-size: 16px">You have a friend request</p>
<div class="hide-on-small-only">
  <div class="row valign-wrapper">
    <div class="col s3">
      <img src="<%= @api + @sender.pp_avatar.url %>" alt="Friend" class="circle responsive-img"/>
    </div>
    <div class="col s9">
      <h6><%= @sender.pp_username %></h6>
    </div>
  </div>
</div>
<div class="hide-on-med-and-up">
  <br>
  <div class="row center-align">
    <img src="<%= @api + @sender.pp_avatar.url %>" alt="Friend" class="circle responsive-img"/>
  </div>
  <div class="row center-align">
    <h6><%= @sender.pp_username %></h6>
  </div>
</div>
<p style="font-size: 16px;">
  To accept it, login in <%= link_to "SPairing", @url + '/login' %>
</p>
<p style="font-size: 16px; margin-bottom: 0">
  Have a great day! <br/>
  <small>SPairing Team</small>
</p>
