<h5>
  Hi,<br>
  <%= @profile.pp_username %>
</h5>
<p style="font-size: 16px">Your information has been updated.</p>
<div class="hide-on-small-only">
  <div class="row valign-wrapper">
    <div class="col s3">
      <% if @sender.pp_avatar.url %>
        <img src="<%= @api + @profile.pp_avatar.url %>" alt="Friend"
            class="circle responsive-img" style="height: 140px"/>
      <% else %>
        <img src="<%= @api + '/user.png' %>" alt="Friend" class="circle responsive-img"
          style="height: 140px"/>
      <% end %>
    </div>
    <div class="col s9">
      <p style="font-size: 16px">
        <b>Username:</b> <br/> <%= @profile.pp_username %> <br/><br/>
        <b>email:</b> <br/> <%= @profile.email %> <br/><br/>
        <b>Location:</b> <br/> <%= @profile.location.loc_name %> <br/>
      </p>
    </div>
  </div>
</div>
<div class="hide-on-med-and-up">
  <br>
  <div class="row center-align">
    <% if @sender.pp_avatar.url %>
      <img src="<%= @api + @profile.pp_avatar.url %>" alt="Friend"
          class="circle responsive-img" style="height: 140px"/>
    <% else %>
      <img src="<%= @api + '/user.png' %>" alt="Friend" class="circle responsive-img"
        style="height: 140px"/>
    <% end %>
  </div>
  <div class="row">
    <p style="font-size: 16px">
      <b>Username:</b> <br/> <%= @profile.pp_username %> <br/><br/>
      <b>email:</b> <br/> <%= @profile.email %> <br/><br/>
      <b>Location:</b> <br/> <%= @profile.location.loc_name %> <br/>
    </p>
  </div>
</div>
<p style="font-size: 16px">
  To see these changes, go to your profile on <%= link_to 'Spairing', @url + '/profile' %>
</p>
<p style="font-size: 16px; margin-bottom: 0">
  Have a great day! <br/>
  <small>SPairing Team</small>
</p>
