<h4>Hi <%= @profile.pp_username %></h4>
<p>Your information has been updated:</p>
<p>
  <b>username:</b> <%= @profile.pp_username %> <br/>
  <b>email:</b> <%= @profile.email %> <br/>
  <b>location:</b> <%= @profile.location.loc_name %> <br/>
</p><br/>
<p>For to see these changes, go to your profile on
  <%= link_to 'Spairing', @url + 'profile' %></p>
<p>You have a great day!</p>
