Hi, <%= @profile.pp_username %>

Your information has been updated.

  username: <%= @profile.pp_username %>
  email: <%= @profile.email %>
  location: <%= @profile.location.loc_name %>

To see these changes, go to your profile on <%= link_to 'Spairing', @url + 'profile' %></p>

Have a great day!
SPairing Team
