<div class="hide-on-small-only">
  <h5>Welcome to SPairing</h5>
  <div class="row valign-wrapper">
    <div class="col s3">
      <img src="" alt="SPairing Logo" class="responsive-img"/>
    </div>
    <div class="col s9">
      <p style="font-size: 16px;">
        You have successfully signed up to <%= link_to "SPairing", @url %><br />
      </p>
      <p style="font-size: 16px;">
        Your username is:<br />
        <%= @profile.pp_username %>
      </p>
      <p style="font-size: 16px;">
        To login on the site, just follow this link: <%= link_to "Login", @url + "/login" %>
      </p>
    </div>
  </div>
</div>
<div class="hide-on-med-and-up">
  <h5 class="center-align">Welcome to SPairing</h5>
  <br>
  <div class="row center-align">
    <img src="" alt="SPairing Logo" class="responsive-img"/>
  </div>
  <div class="row">
    <p style="font-size: 16px;">
      You have successfully signed up to <%= link_to "SPairing", @url %><br />
    </p>
    <p style="font-size: 16px;">
      Your username is:<br />
      <%= @profile.pp_username %>
    </p>
    <p style="font-size: 16px;">
      To login on the site, just follow this link: <%= link_to "Login", @url + "/login" %>
    </p>
  </div>
</div>
<p style="font-size: 16px; margin-bottom: 0">
  Thanks for joining and have a great day!<br />
  <small>SPairing Team</small>
</p>
