<h5>
  Hi,<br>
  <%= @receiver.pp_username %>
</h5>
<p style="font-size: 16px">
  You have a new mail on <%= link_to "SPairing", @url %>.
</p>
<div class="hide-on-small-only">
  <div class="row valign-wrapper">
    <div class="col s3">
      <% if @sender.pp_avatar.url %>
        <img src="<%= @api + @sender.pp_avatar.url %>" alt="Friend" class="circle responsive-img"/>
      <% end %>
    </div>
    <div class="col s9">
      <p style="font-size: 16px;">
        <b><%= @sender.pp_username %>:</b><br>
        <%= truncate @message, length: 50%>
      </p>
    </div>
  </div>
</div>
<div class="hide-on-med-and-up">
  <br>
  <div class="row center-align">
    <% if @sender.pp_avatar.url %>
      <img src="<%= @api + @sender.pp_avatar.url %>" alt="Friend" class="circle responsive-img"/>
    <% end %>
  </div>
  <div class="row center-align">
    <h6><%= @sender.pp_username %></h6>
  </div>
  <div class="row">
    <p style="font-size: 16px;">
      <%= truncate @message, length: 50%>
    </p>
  </div>
</div>
<p style="font-size: 16px;">
  To read the complete message, go to your <%= link_to "mailbox", @url + '/mailbox' %>.
</p>
<p style="font-size: 16px; margin-bottom: 0">
  Have a great day! <br/>
  <small>SPairing Team</small>
</p>
